@{
    ViewData["Title"] = "Welcome";
}


<div class="pimg1">
    <div class="ptext">
        <h1 class="display-4 text-white">A Solution for Utah</h1>
    </div>
</div>

<div class="text-center">

</div>

<div class="container">
    <main role="main" class="pb-3">
        <div>
            <div class="row pagesection">
                <div class="col-5">
                    <figure>
                        <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/89888f1f-bc08-43b8-8ff2-88a172f273a9" frameborder="0"></iframe>
                        <figcaption>
                            Presented by: Utah Department of Public Safety's Highway Safety Office
                        </figcaption>
                    </figure>

                </div>
                <div class="col-7">
                    <p>
                        According to the Unsafe Driver Review by dld.utah.gov, Utah sees upwards of 60,000 crashes on its roads and freeways every year.
                        This number is alarming and dangerous for drivers all over the state, especially the younger drivers. Utah has a unique set of
                        challenges when it comes to motor vehicle accidents. For example, although alcohol is a problem, it is less of a problem in Utah than distracted driving.
                        <br />
                        <br />
                        This site serves as a user friendly way to display data from The Crash Studies Team at UDOT's Traffic & Safety Division. The dataset
                        maintains a detailed database of all crashes on public roadways in Utah. This dataset, featuring collisions from 2017, 2018, 2019,
                        and 2020 does not include every collision from each year.
                    </p>
                </div>

            </div>
            <div class="row pagesection">
                <div class="col-7">
                    <p>
                        Our Solution:
                        Our solution for Utah is to provide easy ways to inform both drivers and elected officials of the problem that Utah faces in an
                        attempt to bring awareness and hopefully motivate drivers to decrease their distracted driving habits. Our site features a calculator
                        that pulls data from an API for The Crash Studies Team at UDOT's Traffic & Safety Division and predicts crash severity based on several
                        user inputted fields.
                        <br />
                        <br />
                        We hope that we can bring awareness and productive learning habits through our site as we move towards safer roads for Utah. Our data shows
                        that the younger the driver, the more likely a collision will occur. Utah is family oriented, and as a result, should be focused on
                        bringing car accident numbers down. 
                    </p>
                </div>
                <div class="col-5">
                    <figure>
                        <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/df33b49b-1a3d-4d3d-b545-e838a588f3e4" frameborder="0"></iframe>
                        <figcaption>
                            Presented by: Utah Department of Public Safety's Highway Safety Office
                        </figcaption>
                    </figure>
                    <figure>
                        <iframe width="500" height="350" src="https://udps.numetric.net/utah-crash-summary#/df33b49b-1a3d-4d3d-b545-e838a588f3e4" frameborder="0"></iframe>
                        <figcaption>
                            Presented by: Utah Department of Public Safety's Highway Safety Office
                        </figcaption>
                    </figure>
                </div>
            </div>

            @*<div>
                <form action="/" method="post">
                    <label for="date">Date</label>
                    <input type="date" name="date" value="" />
                    <br />

                    <label for="timer">Time</label>
                    <input type="time" name="timer" value="" />
                    <br />

                    <label for="timetest">Date and time</label>
                    <input type="datetime-local" name="timetest" value="" />
                    <br />

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>*@
        </div>


    </main>
</div>


<!--

                            YEET

  o  \ o / _ o       __|   \ /    |__      o _ \ o /  o
 /|\   |    /\  ___\o  \o   |   o/   o/__  /\    |   /|\
 / \  / \  | \ /)  |   ( \ /o\ / )   |  (\ / |  / \  / \

-->
